[user]
  name = Matthew Zidian
  email = matt@blendlabsinc.com
[branch]
  autosetuprebase = always
[core]
  editor = vim
[alias]
  s = status
  c = commit -am
  co = checkout
  b = branch
  br = branch -r
  d = diff
  l = log
  lp = log -p
